<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.Oracle" />
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=6.80.332.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="FCS_Entities_ConnectionString" connectionString="metadata=res://*/FcsDataModel.csdl|res://*/FcsDataModel.ssdl|res://*/FcsDataModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=FCS;Password=fcs;Server=localhost;Direct=True;Sid=XE;Persist Security Info=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FCEntitiesConnectionString" connectionString="metadata=res://FcsClassLibrary/FcsDataModel.csdl|res://FcsClassLibrary/FcsDataModel.ssdl|res://FcsClassLibrary/FcsDataModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=fcs;Password=fcs;Server=XE;Persist Security Info=True&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>